@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

footer {
    background-color: #282c34;
    color: white;
    padding: 20px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

.all-items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.services,
.more-info,
.social-media {
    display: grid;
    gap: 2rem;
    overflow-x: visible;
}

.services h3,
.more-info h3,
.social-media h3 {
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
   
}
.services p, .more-info p{
    transition:color 0.3s , transform 0.3s ;
}



.services p:hover,
.more-info p:hover {
    cursor: pointer;
    color: #6d9886;
    transform: scale(1.1);
}

.all-items .social-media i {
    overflow-x: visible;
    font-size: 2.5rem;
    margin: 0 10px;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.all-items .social-media i:hover {
    transform: scale(1.2);
    color: #6d9886;
    /* Highlight color on hover */
}

.copyright {
    text-align: center;
    border-top: 2px solid #444;
    /* Separator line */
    padding-top: 10px;
}